{% extends "basepage.html" %}
{% block title %}Calculator{% endblock %}
{% block head %}
    {{ super() }}
    <style id="wtf">
        .important {
            color: #336699;
        }
        .input-group {
            padding-left: 30px;
        }
        .page_title {
            width: 25%;
            text-align: center;
            font-size: 3vw;
            font-family: "sans-serif";
            color: white;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="page_title">
     <p class="bg-primary">Web Calculator</p>
    </div>

  <div class="input-group mb-3 row">

    <form action="/calculator" method="POST">
        <strong><label for="value1" class="col-sm-2 col-form-label">Value 1:</label></strong><br>
        <input type="text" id="value1" name="value1" value="20"><br>
        <strong><label for="value2" class="col-sm-2 col-form-label">Value 2:</label></strong><br>
        <input type="text" id="value2" name="value2" value="6">
        <br><br>
        <fieldset>
          <legend>Operation</legend>
          <div>
            <input type="radio" name="operation" id="addition" value="add" checked>
            <label for="addition">addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtraction" value="subtract">
            <label for="subtraction">subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiplication" value="multiply">
            <label for="multiplication">multiplication</label>
          </div>
          <div>
            <input type="radio" name="operation" id="division" value="divide">
            <label for="division">Division</label>
          </div>
        </fieldset>
        <br>
        <input type="submit" value="Get Calculation Result">
    </form>
  </div>
{% endblock %}