{% extends "basepage.html" %}
{% block title %}Internet History{% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/z_style.css') }}"/>
    <script>
        function w3cValidation() {
            window.open("http://validator.w3.org/check?uri=" + window.location.href);
}

    </script>
{% endblock %}

{% block content %}
    <div id ="heading">
        <h2>Explore The Interesting and Exciting History Of The Internet</h2>
    </div>
    <div id="wrapper">
        <main>
            <img src="{{url_for('static', filename='images/collage.JPG')}}" alt="picture of callage">
        </main>
        <aside id="aside1">
            <h3>Pre Internet</h3>
            <div class="hoverwrap">
                <img src="{{url_for('static', filename='images/mainframe.JPG')}}" alt="This is a picture of a mainframe computer">
                <div>
                    <p> <a href="pre-internet.html">What was the motivation for the internet?</a></p>
                </div>
                <div class="hovermsg"><a href="https://www.flickr.com/photos/9479603@N02/49755349401">"Mainframe Computer 1960"</a> by <a href="https://www.flickr.com/photos/9479603@N02"> PanelSwitchman</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=rich">CC BY-NC-ND 2.0</a> </div>
            </div>
        </aside>
        <aside>
            <h3>Arpa-net</h3>
            <div class="hoverwrap">
                <img src="{{url_for('static', filename='images/arpanet1973_cc.JPG')}}" alt="This is a picture of ARPA NET">
                <div>
                    <p><a href="arpa-net.html">The exciting beginning of the Internet!</a></p>
                </div>
                <div class="hovermsg"><a href="https://www.flickr.com/photos/24431382@N03/7257339850">"Arpanet Geographical Map in 1973 (1988)"</a> by <a href="https://www.flickr.com/photos/24431382@N03">Eric Fisher</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=rich">CC BY-NC-ND 2.0</a> </div>
            </div>
       </aside>
        <aside>
            <h3>Early Internet</h3>
            <div class="hoverwrap">
                <img src="{{url_for('static', filename='images/vint_cerf_cc.JPG')}}" alt="This is a picture of Vint Cerf">
                <div>
                    <p><a href="early_internet.html">Learn what the Internet was built on, and the pioneers who built it.</a></p>
                </div>
                <div class="hovermsg"><a href="https://www.flickr.com/photos/87232391@N00/398653550">"Vint Cerf"</a> by <a href="https://www.flickr.com/photos/87232391@N00">Charles Haynes</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=rich">CC BY-NC-ND 2.0</a> </div>
            </div>
        </aside>
        <aside>
            <h3>Browsers and Search</h3>
            <div class="hoverwrap">
                <img src="{{url_for('static', filename='images/browsers_cc.JPG')}}" alt="This is a picture of Browsers">
                <div>
                    <p><a href="pre-internet.html">What good's the internet without browsers and search engines!</a></p>
                </div>
                <div class="hovermsg"><a href="https://www.flickr.com/photos/11319126@N00/8270409318">"browsers"</a> by <a href="https://www.flickr.com/photos/11319126@N00">kjhosein</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=rich">CC BY-NC-ND 2.0</a> </div>
            </div>
       </aside>
        <aside>
            <h3>People-Net?</h3>
            <div class="hoverwrap">
                <img src="{{url_for('static', filename='images/facebook_cc.JPG')}}" alt="This is a picture of facebook">
                <div>
                    <p><a href="peoplenet.html">Allowing people to dictate the content of the internet brought a sense of ownership. And no need to leave your house to be sociable!</a></p>
                </div>
                <div class="hovermsg"><a href="https://www.flickr.com/photos/50623029@N07/5169004822">"Facebook Screenshot"</a> by <a href="https://www.flickr.com/photos/50623029@N07">codemastersnake</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=rich">CC BY-NC-ND 2.0</a> </div>
            </div>
        </aside>
        <footer>
            <span id="Copyright">
                <a href="https://www.linkedin.com/in/robert-schicke-b42a3670/">Bob Schicke&#169;</a>
            </span>
            <span>
                <a href="https://github.com/bobschicke/internet-history.git">Github Repostory</a>
            </span>
            <span>
                <button onclick="w3cValidation()">W3C Validation</button>
            </span>
        </footer>
    </div>
{% endblock %}